<ion-header>
  <ion-toolbar>
    <ion-title>All Restaurants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="addRestaurant()">Add New Restaurant</ion-button>
  <ion-list>
    <ion-item *ngFor="let restaurant of restaurants">
      <ion-card style="width: 100%;" (click)="showDetails($event, restaurant)">
        <ion-card-header>
          <ion-card-subtitle>Restaurant</ion-card-subtitle>
          <ion-card-title>{{restaurant.name}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{restaurant.description}}<br><br>
          {{restaurant.address.street}}<br>
          {{restaurant.address.postal_code}}<br>
          {{restaurant.address.city}}
        </ion-card-content>
        <ion-card-footer>
          <ion-chip style="margin-bottom: 5px;" *ngFor="let tag of restaurant.tags" color="success">
            <ion-icon name="pricetag-outline"></ion-icon>
            <ion-label color="dark">{{tag}}</ion-label>
          </ion-chip>
        </ion-card-footer>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
