<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Group Members
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Group Members</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <h3 style="text-align: center;">Carter Comeau - 101253879</h3>
    <h3 style="text-align: center;">Thi Thuy Nguyen – 101281971</h3>
    <h3 style="text-align: center;">Satabdi Sangma – 101287632</h3>
    <h3 style="text-align: center;">Sanjana Sharmin – 101277205</h3>
  </ion-content>
</ion-content>
